:root {
--text-primary: #212121;
--text-secondary: #757575;
--text-active: #2196F3;

}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary)
    background: #F5F5F5;
    font-style: normal;
    font-weight: 400;
}

.header {
    background-color: #FFFFFF;
}

/* Навігація */

.logo-part {
    color: var(--text-active);
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus{
    : var(--text-active);
}
.nav-contacts:hover,
.nav-contacts:focus,
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--text-active);
}
.nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}
.nav-contacts {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
/* Кнопки */
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--text-active);
    color: #FFFFFF;;
}
.button-order {
    background-color: var(--text-active);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}
/* Футер */
address {
    font-style: normal;
}
.address {
    background-color: #2F303A;
}
.contacts-footer {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contact-address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
/* index.html */
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-section {
    background-color: #2F303A;
}
.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.paragraph {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}
